/* Navbar.css */

.navbar {
    bottom: 0;
    top: auto;
    background-color: #8d560e; /* Cambia el color según tu diseño */
    color: white;
    height: 64px; /* Asegúrate de que coincida con el padding-bottom en tu CSS global */
    width: 100%;
  }
  
  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .nav-button {
    margin: 0 8px; /* Ajusta el margen según el diseño */
  }
  