.navbar {
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que los elementos estén centrados verticalmente */
    padding: 10px;
    background-color: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los elementos dentro de la lista */
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  